<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{newBurger}}">
		{{#if newBurger}}New Burger Added!{{else}}Devoured!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
